<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 11"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11" aria-label="Slide 12"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="12" aria-label="Slide 13"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="13" aria-label="Slide 14"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <%= image_tag 'cross.jpg', class: "d-block w-100", style: 'height:50vw;width:100vw;margin-bottom:5px;' %>
    </div>
    <div class="carousel-item">
        <%= image_tag 'fun-event.jpg', class: "d-block w-100", style: 'height:50vw;width:100vw;margin-bottom:5px;' %>
    </div>
    <div class="carousel-item">
        <%= image_tag 'church-event-two.jpg', class: "d-block w-100", style: 'height:50vw;width:100vw;margin-bottom:5px;' %>
    </div>
    <div class="carousel-item">
        <%= image_tag 'bible-study.jpg', class: "d-block w-100", style: 'height:50vw;width:100vw;margin-bottom:5px;' %>
    </div>
    <div class="carousel-item">
        <%= image_tag 'church-event.jpg', class: "d-block w-100", style: 'height:50vw;width:100vw;margin-bottom:5px;' %>
    </div>
    <div class="carousel-item">
        <%= image_tag 'class-event.jpg', class: "d-block w-100", style: 'height:50vw;width:100vw;margin-bottom:5px;' %>
    </div>
    <div class="carousel-item">
        <%= image_tag 'concert-event.jpg', class: "d-block w-100", style: 'height:50vw;width:100vw;margin-bottom:5px;' %>
    </div>
    <div class="carousel-item">
        <%= image_tag 'event-seating-bw.jpg', class: "d-block w-100", style: 'height:50vw;width:100vw;margin-bottom:5px;' %>
    </div>
    <div class="carousel-item">
        <%= image_tag 'hand-raised-two.jpg', class: "d-block w-100", style: 'height:50vw;width:100vw;margin-bottom:5px;' %>
    </div>
    <div class="carousel-item">
        <%= image_tag 'hand-raised.jpg', class: "d-block w-100", style: 'height:50vw;width:100vw;margin-bottom:5px;' %>
    </div>
    <div class="carousel-item">
        <%= image_tag 'huge-event.jpg', class: "d-block w-100", style: 'height:50vw;width:100vw;margin-bottom:5px;' %>
    </div>
    <div class="carousel-item">
        <%= image_tag 'network-event.jpg', class: "d-block w-100", style: 'height:50vw;width:100vw;margin-bottom:5px;' %>
    </div>
    <div class="carousel-item">
        <%= image_tag 'school-event.jpg', class: "d-block w-100", style: 'height:50vw;width:100vw;margin-bottom:5px;' %>
    </div>
    <div class="carousel-item">
        <%= image_tag 'stem-event.jpg', class: "d-block w-100", style: 'height:50vw;width:100vw;margin-bottom:5px;' %>
    </div>    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container-fluid">
<!--  about    -->
<div id="about" class="row">
  <div class="col-lg order-lg-1">
    <h3 class="mb-4">About EventTrackr</h3>
      <p>A website designed with the purpose of streamlining role call for events of all types.</p>
      <p>The built in analytics and reporting functionality will perform the menial calculations for you and free up your time for other tasks.</p>
  </div>
  <div class="col-lg order-lg-3">
    <h3 class="mb-4">Event Types</h3>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action"><strong>Church Events</strong></a>
        <a href="#" class="list-group-item list-group-item-action"><strong>School Functions</strong></a>
        <a href="#" class="list-group-item list-group-item-action"><strong>Networking Conferences</strong></a>
        <a href="#" class="list-group-item list-group-item-action"><strong>Meetups</strong></a>
        <a href="#" class="list-group-item list-group-item-action"><strong>Master Classes</strong></a>
        <a href="#" class="list-group-item list-group-item-action"><strong>Zoom Meetings</strong></a>
      </div>
  </div>
</div>



<div class="text-sm-center bg-primary text-white " style="margin-top:5px; padding-top:55px;"> <!-- bg-light is background color & p-5 is padding -->
    <h1 class="display-2">Trackr</h1>
    <p class="lead">The Best Event Attendance Application on the Web!</p>
</div>