<!DOCTYPE html>
<html>
  <head>
    <title>EventAttendance</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='bg-light bg-gradient' id="home" data-spy="scroll" data-target=".navbar" data-offset="100">

    <div class='container-lg'>

        <%= render 'layouts/navbar' %>

        <div id="carouselExampleIndicators" class="carousel slide row" data-bs-ride="carousel">

            <div class="carousel-indicators mx-auto">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to= 0 class="active" aria-current="true" aria-label="Slide 0"></button>

                <% n = 1 %>
                <% 12.times do |n| %>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to= <%= n %>  aria-label="Slide <%= n %>"></button>
                    <% n = n + 1 %>
                <% end %>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <%= image_tag 'cross.jpg', class: "d-block img-fluid", style: 'height:50vh;width:100vw;margin-bottom:5px;z-index:0;' %>
                </div>

                <% image_tag_array = [ 'fun-event.jpg', 'church-event-two.jpg', 'bible-study.jpg', 'church-event.jpg',
                                    'class-event.jpg', 'concert-event.jpg', 'event-seating-bw.jpg', 'hand-raised-two.jpg', 'hand-raised.jpg', 'huge-event.jpg', 'network-event.jpg', 'school-event.jpg',
                                    'stem-event.jpg'] %>

                <% image_tag_array.each do |tag| %>
                    <div class="carousel-item">
                        <%= image_tag tag, class: "d-block img-fluid", style: 'height:50vh;width:100vw;margin-bottom:5px;z-index:0' %>
                    </div>
                <% end %>

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>

        <div class='row'>
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
        </div>

        <%= yield %>

        <%= render 'layouts/footer' %>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
