<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @member.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @member.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @member.phone %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @member.birthday.strftime('%m-%d') %>
</p>

<p>
  <strong>Anniversary:</strong>
  <%= @member.anniversary.strftime('%m-%d') %>
</p>
